
* {
    box-sizing: border-box;
}

p {
    margin: 0;
    font-size: 0.9rem;
    font-family: var(--breadtext);
}

mark {
    text-decoration: underline;
    background: none;
}

a {
    text-decoration: none;
    color: black;
}


:root {
    
    --darkblue: #06040E;
    --yellow: #E4A546;
    --bluepurple: #8D8DA1;
    --purple: #32253F;

    --breadtext: 'Montserrat', sans-serif;
    --narrowheader: 'Fjalla One', sans-serif;
    --robotoc: 'Roboto Condensed', sans-serif;
} 

img {
    width: 100%;
}

.fas {
    color: white;
    font-size: 1.5vw;
}

body {
    margin: 0;
}

h1, h2, h3 {
    padding: 0;
    margin: 0;
}

.bolder {
    text-decoration: none;
    font-weight: bold;
}


.breadcrumbs {
    margin: 3rem 0 3rem 3vw;
}

.breadcrumbs > a {
    color: black;
    font-family: var(--robotoc);
}


.borderbuttonsmall {
    padding: 0.5rem 1rem 0.5rem 1rem;
    border: solid 2px var(--yellow);
    color: var(--yellow);
    text-decoration: none;
    font-size: 0.9rem;
    text-align: center;
    text-transform: uppercase;
    font-family: var(--robotoc);
    letter-spacing: 1px;
}

.borderbuttonsmall:hover {
    font-size: 1rem;
    transition: ease-in 0.1s;
}


.borderbuttonbig {
    padding: 0.8rem 2.5rem 0.8rem 2.5rem;
    border: solid 2px white;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--robotoc);
    font-weight: bold;
    letter-spacing: 1px;
}



.fullbutton {
    display: inline-block;
    padding: 0.8rem 2.5rem 0.8rem 2.5rem;
    background-color: var(--darkblue);
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--robotoc);
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: 2rem;
}


.tothetop {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
    font-family: var(--robotoc);
    border-bottom: 1px solid white;
    padding-bottom: 0.4rem;
}

.tothetop:hover {
    color: var(--yellow);
    border-bottom: var(--yellow);
}

.tothetop:hover > .far {
    font-size: 1.5rem;
    margin-left: 0.4rem;
    transition: ease-in 0.3s;

}



.arrowbutton {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 2rem;
    color: var(--yellow);
    font-size: 1.7rem;
    font-family: var(--narrowheader);
    border-bottom: 3px solid var(--yellow);
    padding-bottom: 0.4rem;
}

.purplebutton {
    background-color: var(--purple);
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;

}


.shadow {
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}


h2 {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-family: 'Fjalla One';
    letter-spacing: 2px;
    margin-top: 6rem;
    margin-bottom: 3rem;
}



.donatesponsorsection > div > h2, .collectionsection > div > div > h2, .exhibits > div  > h2 {
    margin: 0 0 1rem 0;
}

.learningbydoingbottomdiv > div > h2  {
    margin-top: 1rem;
}

.getinvolvedindexh2 > h2 {
    margin: 0;
}

h3, .h3header {
    font-family: var(--narrowheader);
    font-size: 1.2rem;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    color: black;
}

li {
    font-family: var(--breadtext);
    font-size: 0.9rem;
}


.white {
    color: white;
}

.white a {
    color: white;
}




/*----------------------------------------------------INDEX-------------------------------------------------------------*/



header {
    width: 100%;
    background-color: black;
    height: fit-content;
    padding: 3vw 3vw 1rem 3vw;
}

#logotext {
    font-size: 2rem;
    text-decoration: none;
    color: white;
    font-family: var(--narrowheader);
    text-transform: uppercase;
}

.topheader {
    display: flex;
    justify-content: space-between;
}

.topheaderdiv {
    height: fit-content;
}

.mid-menu > ul {
    padding: 0;
    height: fit-content;
}

.mid-menu > ul > li {
    float: left;
    margin-right: 4rem;
}

.mid-menu > ul > li:hover {
text-decoration: underline;
}

.mid-menu > ul > li:last-child {
    margin-right: 0;
}

.indexmidmenu {
    margin-bottom: 6rem;
}


.mid-menu a {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-family: var(--narrowheader);
    font-size: 1.2rem;
}


a.currentsite {
    color: var(--yellow);
}

.divicons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    gap: 0.4rem;
}

input#search {
    width: 0.5rem;
    height: 15px;
    border: 2px solid transparent;
    border-radius: 4px;
    font-size: 1rem;
    color: white;
    background-color: transparent;
    padding: 1rem 1rem 1rem 1rem;
    transition: width 1s ease-in-out, border 1s ease-in-out;
    background-image:url(images.img/icons8-search-50_56.png);
    background-repeat: no-repeat;
}

input#search:focus {
    width: 100%;
    border: 2px solid white;
    background-image: none;
    outline: none;
}

input#search:focus > label {
    display: none;
}

input#search:hover {
    cursor: pointer;
}


.normalicons {
    margin-left: 0.8rem;
    margin-right: 0.4rem;
    font-size: 1.2rem;
    color: white;
}

.normalicons a {
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
    font-family: var(--breadtext);
}

.bottomheader {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0 15vw 0 15vw;
    background-color: black;
}

.bottomheader > div {
    flex: 30%;
}

.bottomheader > div > p {
    max-width: 380px;
    margin-bottom: 3rem;
    font-weight: 300;
}

.bottomheaderimg > img {
    width: 100%;
}


#h1hero {
    font-size: 8vw;
    font-family: var(--narrowheader);
    text-transform: uppercase;
}

#headerbutton {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-family: var(--narrowheader);
    color: var(--yellow);
    letter-spacing: 2px;
    font-size: 1.1rem;
}

#headerbutton:hover {
    font-size: 1.5rem;
    transition: ease-in 0.2s;
}



    

@media screen and (max-width: 780px) {
    #logotext {
        display: none;
    }

    header {
        height: fit-content;
    }
}

@media screen and (min-width: 780px) {
    #logo {
        display: none;
    }
}

@media screen and (max-width: 769px) {
    .topheader {
        justify-content: space-between;
        align-items: flex-start;
        padding: 0.5rem 0.5rem 0 0.5rem;
    }

    #logo img {
        max-width: 3rem;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .bottomheader {
        flex-direction: column-reverse;
        padding: 0 1rem 2rem 1rem;
    }

    .bottomheader > div > p {
        margin-bottom: 1rem;
        font-size: 0.8rem;
    }

    .normalicons {
        display: none;
    }

}


div.burger-menu {
    display: inline;
}


nav.burger-menu-nav {
    display: none;
    background-color: white;
    width: 250px;
    height: fit-content;
    padding: 1rem;
}

nav.burger-menu-nav > ul, .forthissectionburgermenu > ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav.burger-menu-nav > ul > li, .forthissectionburgermenu > ul > li {
    margin: 0.5rem 0 0.8rem 0;
    text-align: center;
}

nav.burger-menu-nav > ul > li:last-child, .forthissectionburgermenu > ul > li:last-child {
    margin-bottom: 0;
}

nav.burger-menu-nav > ul > li > a {
    display: block;
    text-decoration: none;
    padding: 0.5rem 2rem 0.5rem 2rem;
    background-color: var(--bluepurple);
    color: white;
}

input#burger-menu {
    display: none;
}

input#burger-menu:checked ~ nav.burger-menu-nav {
    display: block; 
}

.forthissectionburgermenu {
    margin-top: 1rem;
}

.forthissectionburgermenu > p {
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    font-family: var(--narrowheader);
}

.forthissectionburgermenu > ul > li {
    text-align: left;
}

.fa-bars {
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-left: 0.5rem;
}


@media screen and (min-width: 780px) {
    #burgerlabel {
        display: none;
    }
}
@media screen and (max-width: 780px) {
    .mid-menu {
        display: none;
    }
}



.underheader {
    background-color: black;
    color: white;
    height: fit-content;
    text-align: right;
    padding: 0 9vw 0 0;
}


.underheader > h1 {
    font-size: 9vw;
    text-transform: uppercase;
    font-family: var(--narrowheader);
    letter-spacing: 2px;
    line-height: 6.5vw;
}

.underheadermenu {
    padding: 1rem 0 1rem 3vw;
    margin: 1.5rem 0 1rem 0;
    background-color: var(--purple);
    
    color: white;
    text-transform: uppercase;
}

.underheadermenu > ul {
    list-style: none;
    padding: 0 0 1.5rem 0;
    margin: 0;
}

.underheadermenu > ul > li {
  float: left;
  margin-right: 3rem;
  font-family: var(--narrowheader);
  font-size: 1.2rem;
  letter-spacing: 1px;
  
}

@media screen and (max-width:800px) {
    .underheadermenu {
        display: none;
    }

    .underheader > h1 {
        font-size: 12vw;
        line-height: 8.5vw;
    }
}




.collectionicons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 3rem 3vw 3rem 3vw;
    gap: 3.5rem;
    justify-content: space-evenly;
}

.collectionicons > div {
    padding: 2rem;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    border-radius: 10%;
    text-align: center;
    max-width: 140px;
}

.collectionicons > div:hover {
    max-width: 160px;
    font-weight: bold;
    transition: ease-in 0.1s;
}



.collectionicons > div > p {
    text-transform: uppercase;
    font-size: 0.8rem;
    color: grey;
    margin-top: 0.5rem;
}

.exhibits {
    background-image: url(images.img/optimizedexhibit.jpg);
    background-size:auto;
    height: 392px;
    padding: 2rem;
    color: white;
}


.exhibits > div {
    max-width: 400px;
}

.exhibits > div > p {
    margin-bottom: 3rem;
}



@media screen and (max-width: 400px) {

    .collectionicons {
        gap: 1rem;
    }

    .exhibits > div {
        text-align: center;
    }

    .exhibits > div > p {
        margin-bottom: 1.5rem;
    }
}





.exploreindexsection {
    display: flex;
    flex-direction: row;
    align-items:center;
    background-color: whitesmoke;
    padding: 3rem 0 3rem 0;

}

.exploreindeximg {
    flex: 50%;
}

.exploreindextext {
    flex: 40%;
    padding: 3rem 3rem 3rem 5vw;
}

.exploreindextext > p {
    margin-bottom: 3rem;
    font-size: 0.9rem;
}

.exploreindextext > h2 {
    font-size: 5rem;
}



@media screen and (max-width: 600px) {
    .exploreindexsection {
        flex-direction: column-reverse;
    }

    .exploreindeximg {
        padding-left: 0.5rem;
    }

    .exploreindextext {
        text-align: center;
    }

    .exploreindextext > h2 {
        font-size: 3rem;
    }
}



.indexmidmenu {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 0.5rem;
    margin: 3rem auto 6rem auto;
}

.midmenua {
    background-color: var(--darkblue);
    padding: 1.5rem;
    color: white;
}

.midmenua:hover {
    background-color: white;
    color: var(--darkblue);
    border: 2px var(--darkblue) solid;
}


.fa-chevron-right {
    float: right;
    font-size: 1rem;
}

.midmenua:hover > .fa-chevron-right {
    color: var(--darkblue);
}


.guideicon {
    color: white;
    font-size: 1.5rem;
    margin-right: 1rem;
}

.midmenua:hover > .guideicon {
    color: var(--darkblue);
}



.learningbydoingsection {
    background-color: whitesmoke;
    padding: 5rem 0 3rem 0;
}

.learningbydoingtopdiv {
    position: relative;
    height: 38vw;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}





.learningbydoingbottomdiv {
    margin-bottom: 2rem;
}

.learningbydoingbottomdiv > div:first-child {
    text-align: center;
    margin: 0 1rem 2rem 1rem;
}

.learningbydoingbottomdiv > div > h2 {
    font-family: var(--robotoc);
    font-weight: 600;
    text-transform: initial;
    font-size: 2rem;
    color: var(--yellow);
}

.learningbydoingtopdiv > div {
    position: absolute;
}


.leftoverlap, .rightoverlap {
    max-width: 500px;
}

.rightoverlap {
    left: 45%;
    top: 25%;
}

.leftoverlap {
    right: 45%;
}

.learningbydoingtopdiv:hover > .leftoverlap img {
    animation-name: fadeout;
    animation-duration: 0.6s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes fadeout {
    to {opacity: 0%};
    from {opacity: 40%};
}


.rightoverlap > img, .leftoverlap > img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.learningbydoingflex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0 7vw 0 7vw;
    gap: 3rem;
}


.learningbydoingflex p:last-child {
    text-align: right;
}



@media screen and (max-width: 1200px) {
    .learningbydoingtopdiv {
        height: 45vw;
    }
}

@media screen and (max-width: 600px) {
    .leftoverlap {
        display: none;
    }

    .rightoverlap {
        top: 0;
        left: 0;
    }

    .learningbydoingtopdiv {
        height: 60vw;
    }
   
    .learningbydoingflex {
        flex-direction: column;
        }
    
    .learningbydoingflex p:last-child {
        font-size: 0.8rem;
    }
}





.getinvolvedindexsection {
    height: fit-content;
    width: 100%;
    background-color: #c8c8e2;
    padding: 5rem 0 5rem 0;
}

.getinvolvedindexflex {
    width: 90%;
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 3rem;
    flex-wrap: wrap;
}

.getinvolvedindexflex > div {
    padding: 1.5rem;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    background-color: white;
    flex: 30%;
    max-width: 260px;
}

.getinvolvedindexflex > div:hover {
    border-radius: 30px;
    transition: ease-out 0.2s;
}

.getinvolvedindexh2 {
   text-align: center;
   line-height: 48px;
    color: #c8c8e2;
    padding: 0;
    margin: 0;
    margin-top: 6rem;
    
}

.getinvolvedindexh2 > h2 {
    font-size: 4rem;
}

.getinvolvedindexdiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.getinvolvedindexdiv > h3 {
    margin: 0.5rem 0 0.5rem 0;
}

.getinvolvedindexdiv > p {
    margin-bottom: 1rem;
}


.blacksparrow {
    float: right;
    padding: 0.1rem 1rem 0.1rem 1rem;
}


.blacksparrow i {
    color: black;
    font-size: 1rem;
}

.blacksparrow:hover > i {
    font-size: 1.3rem;
}

@media screen and (max-width: 800px) {
    .getinvolvedindexflex > div {
        max-width: 470px;
    }
    .getinvolvedindexflex {
        flex-direction: column;
        align-items: center;
    }

    .getinvolvedindexh2 > h2 {
        font-size: 3rem;
        line-height: 35px;
    }
}




.prefootermenu {
    margin: 6rem auto 2rem auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    gap: 3rem;
    padding-right: 1.5rem;
}

.prefootermenu > div {
    text-align: center;
}

.prefootermenu > div > a {
    text-decoration: none;
    color: black;
    font-family: var(--robotoc);
}

.prefootermenu > div > a > i {
    color: black;
    font-size: 1.8rem;
    display: block;
    padding-bottom: 1rem;
}

.prefootermenu > div > a > i:hover {
    font-size: 2.5rem;
    transition: ease-in 0.1s;
}




footer {
    width: 100%;
    height: fit-content;
    padding: 4vw;
    background-color: #06040E;
    display: flex;
    flex-wrap: wrap;
    color: white;
    justify-content: space-between;
    gap: 1rem;
}


footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer > div > ul > li {
    margin-bottom: 1rem;
}

footer > div > ul > li > a {
    color: white;
}


footer > div > ul > li:last-child {
    margin-bottom: 0;
}

.midfooterdiv, .midfooterdivmobil {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.midfooterdiv > div > i, .midfooterdivmobil > div > i {
    font-size: 2.2rem;
}

.midfooterdiv > div, .midfooterdivmobil > div {
    display: flex;
    gap: 1rem;
}

.textalignright {
    text-align: right;
}

.midfooterdivmobil {
    gap: 2rem;
}


@media screen and (max-width: 820px) {
    footer {
        padding: 2rem 3rem 2rem 3rem;
        gap: 2rem;
        justify-content: space-evenly;
        align-items: flex-start;
        text-align: center;
    }

    .textalignright {
        text-align: center;
    }

    .midfooterdiv {
        display: none;
    }

    .midfooterdivmobil {
        margin-bottom: 2rem;
    }
}

@media screen and (min-width: 820px) {
    .midfooterdivmobil {
        display: none;
    }
}

@media screen and (max-width: 430px) {
    footer {
        padding: 2rem 1rem 1rem 1rem;
    }
}






/*__----------------------------------------------------plan your visit----------------------------------------------------------*/

.mainplanyourvisit {
    margin: 3rem 3rem 0 3rem;
}

@media screen and (max-width: 500px) {
    .mainplanyourvisit {
        margin: 2rem 1rem 0 1rem;
    }
}

.underheaderplanyourvisit > h1 {
    font-size: 9vw;
    line-height: 6.7vw;
}


.locationflex {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;    
    text-align: end;
    margin-bottom: 3rem;
}


.divopeninghoursflex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30rem;
    padding: 2rem;
    height: 208px;
    margin-top: 2rem;
}


.righttimes { 
    text-align: right;
}

.rightalinealways {
    text-align: right;
}

.totalflex {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
}


@media screen and (max-width: 1070px) {
    .totalflex {
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 981px) {
    .locationflex {
        justify-content: space-evenly;
        text-align: center;
    }
}

@media screen and (max-width: 550px) {
    .divopeninghoursflex {
        width: 19.5rem;
        padding: 1rem;
        height: fit-content;
    }
}


.h2right {
    text-align: right;
}

.accessabilityflex {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    margin: 2rem 0 4rem 0;
}

.accessabilityflex > div {
    flex: 1;
    padding: 1rem;
}


.accessabilityextra {
    text-align: center;
    margin: 3rem 0 6rem 0;
    width: 100%;
}

@media screen and (max-width: 760px) {
    .accessabilityflex {
        flex-direction: column;
    }

    .h2right, .h2left {
        text-align: center;
        padding-top: 1rem;
    }
}





.imagetextright, .imagetextleft {
    max-width: 400px;
}

.imagetextflex {
    display: flex;
    padding: 2rem;
    gap: 1.5rem;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-bottom: 4rem;
}


.restauranth3, .pheadlinerestaurant {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    letter-spacing: 2px;
}

.restauranth3, .shoph3 {
    font-size: 2rem;
    margin: 0;
}

.imagetextflex > div > p {
    text-align: justify;
}


.shoph3 {
    text-align: center;
    font-family: var(--robotoc);
    margin-bottom: 2rem;
}


@media screen and (max-width: 780px) {
    .imagetextflex > div > p {
       font-size: 0.8rem;
    }
    .imagetextright, .imagetextleft {
        flex: 50%;
    }
    .imagetextflex {
        align-items: center;
    }
}

@media screen and (max-width: 700px) {
    .imagetextflex {
        flex-direction: column;
    }
    .imagetextright > img, .imagetextleft > img {
        max-height: 200px;
        max-width: 150px;
    }
    
}


.bookingflex {
    width: 300px;
    height: 620px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
}

.bookingflex > div > img {
    width: 300px;
    height: 250px;
    object-fit: cover;
}


.totalbookingflex {
    display: flex;
    gap: 4.7rem;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}


/*-------------------------------------------------------collection ------------------------------------------------------------*/




.collectionsection {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    height: fit-content;
    max-height: 400px;
    background-color: white;
}

.collectionsectiondivtext {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
    flex: 50%;
    padding: 3rem 3rem 0 3rem;
    border: double black;
}

.collectionsectiondivimg {
    flex: 50%;
}

.underp {
    width: 80%;
    padding: 2rem;
    border: double black;
    margin: 0 auto 0 auto;
    display: flex;
    gap: 4rem;
    background-color: white;
    justify-content: space-between;
    margin: 0 auto 0 auto;
}

.underp > p {
    flex: 50%;
    max-width: 400px;
    text-align: justify;
}


.collectionsectiondivimg > img {
    height: 100%;
    border: double black;
    object-fit: cover;
}

.iconcollection {
    max-width: 4rem;
    max-height: fit-content;
    margin: 0 auto 0.5rem auto;
}


.collectionsectiondivtext > div > h2 {
    text-align: center;
    border-bottom:black double;
    padding-bottom: 1rem;
    font-size: 3rem;
}

.collectionsectiondivtext > div > ul {
    list-style:circle;
    padding-left: 1rem;
}

.standoutdiv {
    padding: 0.8rem
}

.collectionreversed {
    flex-direction: row-reverse;
}


@media screen and (max-width: 1100px) {
    .collectionsectiondivtext {
        padding: 1rem;
    }
}

@media screen and (max-width: 750px) {
    .collectionreversed, .collectionsection {
        flex-direction: column;
        max-height: fit-content;
    }

    .underp {
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        padding: 1rem;
    }
}




.robotfont {
    font-family: 'Orbitron', monospace;
}

.ecologyfont {
    font-family: 'Shadows Into Light', sans-serif;
    letter-spacing: 3px;
}

.spacefont {
    letter-spacing: 12px;
    font-family: var(--narrowheader);
    text-transform: uppercase;
}

.medicinefont {
    font-family: 'Corinthia', cursive;
    text-transform: initial;
}

.evolutionfont {
    font-family: 'Fuzzy Bubbles', sans-serif;
    letter-spacing: -2px;
}



/*--------------------------------------------------explore------------------------------------------------------------------*/


.exploremain {
    margin: 0 6vw 0 6vw;
}

.clubsection {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    margin-bottom: 2rem;
    font-size: 0.8rem;
    align-items: center;
    justify-content: space-evenly;
}

.clubdivright, .clubdivleft {
    flex: 40%;
}

.clubdivtext {
    padding: 2rem;
    width: 100%;
    height: 50vw;
}


.clubdivimageyoungstar, .clubdivimageholiday {
    position: relative;
    background-size: cover;
    width: 100%;
    height: 50vw;
}

.clubdivimageholiday {
    background-image: url(images.img/neonbrand-IF8B82QBCkM-unsplash_50.jpg);
}

.clubdivimageyoungstar {
    background-image: url(images.img/nathan-dumlao-P5MXtYfgmmw-unsplash_27.jpg);
}

.clubdivimageholiday > h2, .clubdivimageyoungstar > h2 {
    position: absolute;
    font-size: 6vw;
    text-transform: uppercase;
    margin: 0;
    color: white;
}

.holiday, .young {
    left: 5px;
}

.club, .star {
    bottom: 1px;
    right: 5px;
}


@media screen and (max-width:1220px) {
    .clubdivtext {
        padding: 1.5rem;
    }

    .hideforspace {
        display: none;
    }
}

@media screen and (max-width:1000px) {
    .clubdivtext {
        flex: 50%;
        font-size: 0.68rem;
        padding: 1rem;
    }
    .clubsection {
        gap: 1rem;
        flex-direction: column;
    }
}

@media screen and (max-width:600px) {
    .clubdivtext {
        flex: 40%;
        font-size: 0.68rem;
        padding: 1rem;
    }

    .clubdivimageyoungstar > h2, .clubdivimageholiday > h2{
       font-size: 3rem;
    }
}




.newsflex {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
}

.newsflex > div > h3 {
    margin-bottom: 1rem;
}

.imageleft {
    flex: 30%;
}

.imageleft img {
    vertical-align: top;
    height: 100%;
}

.textright {
    text-align: right;
    flex: 70%;
    padding: 2rem 2rem 1rem 8rem;
    font-size: 1.4vw;
}

.reversed {
    flex-direction: row-reverse;
}

.reversed > .textright {
    text-align: left;
    padding: 1rem;
}


@media screen and (max-width:950px) {

    .newsflex {
        flex-direction: column;
    }
    .textright {
        text-align: center;
        padding: 1rem 1rem 1rem 1rem;
        font-size: 2.5vw;
    }
    .reversed {
        flex-direction: column;
    }
    .reversed > .textright {
        text-align: center;
        padding: 1rem 1rem 1rem 1rem;
        font-size: 2.5vw;
    }
}


  

.christmasexplore {
    background-image: url(images.img/anna-peipina-ihDzR6U2Gds-unsplash_36.jpg);
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    margin: 6rem 0 3rem 0;
    padding: 1rem;
}

.christmasexploreinfo {
    background-color: rgba(255, 255, 255, 0.863);
    padding: 1rem;
    font-size: 1.1vw;

}

.christmash3 {
    font-size: 6vw;
    padding: 2rem;
    color: white;
    text-transform: uppercase;
    line-height: 8rem;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 2px;
}

.christmasexploreinfo2 {
    font-size: 1.1vw;
    margin-top: 2rem;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.christmasbutton {
    background-color: rgb(77, 51, 36);
}

@media screen and (max-width:800px) {
    .christmasexplore {
        flex-direction: column-reverse;
    }

    .christmasexploreinfo {
        font-size: 1.5vw;
    }

    .christmash3 {
        margin: 0;
        padding: 0;
        line-height: 5rem;
        font-size: 3rem;
    }

    .christmasexploreinfo2 {
        padding: 0.5rem 3rem 0.5rem 3rem;
        font-size: 1.2vw;
        justify-content: space-evenly;
    }
}

@media screen and (max-width:500px) {
   
    .christmasexplore {
        gap: 1rem;
    }
    .christmash3 {
        font-size: 2.5rem;
        line-height: 3.5rem;
    }

    .christmasexploreinfo {
        font-size: 0.7rem;
    }

    .christmasexploreinfo2 {
        padding: 1rem;
        background-color: transparent;
        justify-content: space-between;
        margin-top: 0.5rem;
        font-size: 0.7rem;
        flex-direction: column;
    }
    .christmasexplorediv {
        background-color: white;
        padding: 0.5rem;
    }

    .christmasbutton {
        margin-top: 0.5rem;
    }
}



.educationexplore {
    background-image: url(images.img/sigmund-OV44gxH71DU-unsplash_1_30.jpg);
    background-size: cover;
    height: 30rem;
    position: relative;
    margin-top: 3rem;
}

.educationexplore > div {
    font-size: 0.8rem;
    padding: 4rem 2rem 2rem 2rem;
    background-color: #432922;
    width: 50vw;
    height: fit-content;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.educationbutton {
    color: black;
    background-color: white;
}

@media screen and (max-width:500px) {
    .educationexplore > div  {
        width: 100%;
        box-shadow: none;
        padding: 2rem 1rem 1rem 1rem;
    }

    .educationexplore {
        background-color: #432922;
        background-image: none;
    }
}



.researchersexplore {
    background-image: url(images.img/concept-gbc5ea0934_1280.jpg);
    background-size: cover;
    height: 590px;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
}

.researchersexplore > div {
    flex: 40%;
    max-width: 320px;
    height: 360px;
}

.researchersexploredivleft {
    background-color: rgba(255, 255, 255, 0.788);
    text-align: center;
    font-size: 1.2rem;
    padding: 2rem 0.5rem 2rem 0.5rem;
}


.researchersexploredivleft > ul {
    list-style: none;
    padding: 0;
    margin-top: 2rem;
}

.researchersexploredivleft > ul > li {
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
    font-family: var(--robotoc);
}

.researchersexploredivleft > p {
    font-weight: bold;
    margin: 5rem 0 0 0;
    font-size: 1.2rem;
    font-family: var(--robotoc);
}

.researchersexploredivright {
    background-color: rgba(255, 255, 255, 0.788);
    padding: 3rem 2rem 2rem 2rem;
    text-align: center;
}


@media screen and (max-width:800px) {
    .researchersexploredivleft {
        display: none;
    }
}

@media screen and (max-width:500px) {
    .researchersexplore {
        height: fit-content;
        padding: 1rem;
    }

    .researchersexploredivright {
        padding: 2rem 1rem 1rem 1rem;

    }
}




/*--------------------------------------------------------contact----------------------------------------------------------------*/

.maincontact {
    margin: 0 8vw 0 8vw;
}

.darkfas {
    color: var(--black);
    padding: 0;
    margin-bottom: 1rem;
    font-size: 2.5vw;
}

.contactinformationsection {
    background-image: url(images.img/corey-buckley-WJ0ISNjpvxo-unsplash_47.jpg);
    display: flex;
    height: 380px;
    gap: 5vw;
    background-position: center center;
    padding: 3vw 6vw 3vw 6vw;
    margin-bottom: 3rem;
}

.contactinformationsection > div {
    flex: 33%;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.856);
    text-align: center;
    padding: 3rem 1rem 3rem 1rem ;
}

.contactinformationsection > div > h3 {
    margin: 1rem 0 2rem 0;
}

.socialicon {
    font-size: 2rem;
    margin: 0 1.4vw 2vw 1.4vw
}


.flexicons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

@media screen and (max-width:800px) {
    .maincontact {
        margin: 0 1rem 0 1rem;
    }
}

@media screen and (max-width:700px) {
    .contactinformationsection {
        flex-direction: column;
        background-color: #8D8DA1;
        background-image: none;
        height: fit-content;
        padding: 6vw;
    }
}



.minibook {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 1rem 3rem 1rem 3rem;
    margin: 5rem 0 3rem 0;
}

.minibook > h3 {
    font-size: 2rem;
}

.minibook > a {
    margin: 0;
}

.minibook > p {
    font-size: 1.2rem;
}

@media screen and (max-width:500px) {
    .minibook {
        flex-direction: column;
    }

    .darkfas {
        font-size: 2rem;
    }
}



.clubmembertotalsection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}


.clubmembersection {
    display: flex;
    flex-direction: row;
    flex: 40%;
    justify-content: space-between;
    padding: 1.5rem;
}

.clubmembersectionright {
    text-align: right;
    flex-direction: row-reverse;
}

.clubmembersectionleft > .clubmemberdiv > p, .clubmembersectionright > .clubmemberdiv > p  {
    padding-bottom: 5px;
    border-bottom: solid 5px var(--yellow);
    margin-bottom: 1rem;
}

.circeldiv {
    background-color: var(--purple);
    color: white;
    border-radius: 50%;
    height: 140px;
    width: 140px;
    position: relative;
    text-align: center;
}

.circeldiv > p {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.marksmallertext {
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
}

.prizeonly {
    font-size: 1.3rem;
}



@media screen and (max-width:1100px) {
    .clubmemberdiv {
    max-width: 220px;
    }
}

@media screen and (max-width:1000px) {
    .clubmembertotalsection {
        flex-direction: column;
    }

    .clubmembersection {
        width: 100%;
    }

    .clubmemberdiv {
        max-width: fit-content;
    }
}

@media screen and (max-width:500px) {
    .clubmemberdiv {
        max-width: 220px;
    }
    .circeldiv {
        height: 100px;
        width: 100px;
        font-size: 1rem;
    }

    .marksmallertext {
        font-size: 0.6rem;
    }

    .clubmembersectionleft > .clubmemberdiv > p, .clubmembersectionright > .clubmemberdiv > p {
        font-size: 0.8rem;
    }
}

@media screen and (max-width:400px) {
    .clubmemberdiv {
        max-width: 160px;
    }
}



.contactformsection {
    width: 70%;
    margin: 5rem auto 5rem auto;
}

.contactform {
    display: flex;
    padding: 1rem;
    justify-content: space-evenly;
    gap: 1rem;
}

.forminputs > input {
    display: block;
    padding-left: 0.5rem;
    margin-bottom: 1rem;
    width: 250px;
    height: 2rem;
    border: none;
}

textarea {
    border: none;
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    width: 100%;
    font-family: sans-serif;
}

button {
    display: block;
    margin-left: auto;
    margin-right: 0;
    width: 8rem;
    height: 2rem;
    background-color: var(--purple);
    color: white;
    text-transform: uppercase;
    border: none;
    font-family: var(--narrowheader);
    letter-spacing: 1px;
}

.textareabutton {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

fieldset {
    border: 2px solid var(--yellow);
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
}

fieldset > legend > h3 {
    color: var(--yellow);
}


@media screen and (max-width:1200px) {
    .contactformsection {
        width: 100%;
    }
}

@media screen and (max-width:600px) {
    .contactform {
        padding: 0.5rem;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .forminputs > input {
        width: 100%;
    }

    button {
        margin-left: auto;
        margin-right: auto;
        margin-top: 1rem;
    }
}


.contact-getinvolvedsection {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin-bottom: 1rem;
}

.getinvolveddivhead {
    flex: 20%;
}

.getinvolveddivtext {
    text-align: right;
    flex: 50%;
}



@media screen and (max-width:600px) {
    .contact-getinvolvedsection {
        flex-direction: column;
        gap: 2rem;
        height: fit-content;
    }

    .getinvolveddivtext {
        text-align: center;
    }

}


.getinvolvedimage {
    margin-bottom: 1rem;
}

.getinvolvedimage img {
    display: block;
}

.donatesponsorsection {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin: 4rem 0 4rem 0;
}

.donatediv {
    flex: 60%;
}

.sponsordiv {
    flex: 30%;
}

.donatesponsorsection > div {
    height: 300px;
    padding: 2rem;
    text-align: center;
}

.smalltext {
    font-size: 0.8rem;
    margin-top: 1rem;
}


@media screen and (max-width:600px) {
    .donatesponsorsection {
        flex-direction: column;
    }
}


