
* {
    box-sizing: border-box;
}

p {
    margin: 0;
}

img {
    width: 100%;
}

:root {
    --black: #010101;
    --yellow: #E4A546;
    --white: #ffffff;
    --purple: #32253F;
} 

.fas {
    color: white;
    font-size: 1.5vw;
}

body {
    margin: 0;
}

p, a, h1, h2 {
    font-family: sans-serif;
}



/*----------------------------------------------------INDEX-------------------------------------------------------------*/



/*header*/
header {
    width: 100%;
    height: 20vw;
    background-color: var(--black);

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

#logotext {
    color: var(--yellow);
    font-size: 1.5vw;
}

#logo {
    font-size: 4vw;
    color: var(--white);
    text-transform: uppercase;
}

.headerimage {
    max-width: 7vw;
}

.headerleft {
    padding: 2vw 0 2vw 4vw;
}

.headerright {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2vw 4vw 2vw 0;
}

header a {
    color: white;
    text-decoration: none;
    font-size: 1vw;
}

.fas {
    padding-left: 2.5vw;
}

.fa-shopping-basket {
    margin-right: 0.5vw;
}

a.borderbutton {
    padding: 0.5vw;
    border: white 0.3vw solid;
}

/*navbar*/
.navbar {
    width: 100%;
    height: 4rem;
    background-color: var(--yellow);
    padding: 1.5vw 4vw 1.5vw 4vw;
}

.left-menu, .mid-menu {
    display: inline-block;
    box-shadow: 10px;
}

.left-menu a, .mid-menu a {
    color: var(--black);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8rem;
}

.mid-menu a {
    margin-right: 3vw;
    font-size: 1rem;
}
.mid-menu a:last-child {
    margin-right: 0;
}

.mid-menu {
    float: right;
}

i.fas.fa-bars {
    padding: 0;
    margin-right: 2vw;
    font-size: 1.8rem;
    padding-top: 0.5rem;
}

/*burger menu*/
div.burger-menu {
    display: inline;
}


nav.burger-menu-nav {
    display: none;
}

input#burger-menu {
    display: none;
}

input#burger-menu:checked ~ nav.burger-menu-nav {
    display: block; 
}

/*mobil ikoneri*/
#searchmobil, #ticketmobil {
    font-size: 1.5rem;
    float: right;
    margin-top: 0.6rem;
}

#ticketmobil {
    margin-right: 0.5rem;
}


@media screen and (max-width: 750px) {
    .mid-menu {
        display: none;
    }
    div.left-menu {
        display: none;
    }
   
    #logotext {
        display: none;
    }
    #logo {
        margin-top: 0.3rem;
    }
    .headernav {
        display: none;
    }
    .headerimage {
        max-width: 9vw;
        margin-right: 1rem;
    }
}

@media screen and (min-width: 750px) {
    label {
        display: none;
    }
    #searchmobil, #ticketmobil {
        display: none;
    }
}

/*hero seksjon*/
.hero {
    position: relative;
    z-index: -1;
}

.h1index {
  
    right: 3.5vw;
    bottom: 15vw;
    font-size: 4vw;
}

.hero > p,.hero > h1, .hero > a {
    color: white;
    position: absolute;
    display: inline-block;
    text-transform: uppercase;
}

#phero {
    font-size: 1.2vw;
    right: 3.5vw;
    bottom: 15vw;
}

#linkhero {
    right: 3.5vw;
    bottom: 9vw;
    background-color: var(--purple);
}

.fullbutton {
    padding: 1.2vw 1.5vw 1.2vw 1.5vw;
    text-decoration: none;
    font-size: 1vw;
    text-transform: uppercase;
}



/* exhbitits collage*/

.flex5 {
   display: grid;
   grid-template-columns: repeat(5, 1fr);
}

.griditem {
    object-fit: cover;
}


/*liten meny*/
.quickmenu {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20rem;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem;
    flex-wrap: wrap;
    gap: 2rem 4rem;
    margin-bottom: 4rem;
}

.quickmenubox {
    display: flex;
    flex-direction: column;
    width: 9rem;
    height: 8.5rem;
    text-align: center;
    background-color: var(--purple);
    box-shadow:  0px 25px 20px -20px rgba(0, 0, 0, 0.45);
    border-radius: 4px;
}

.quickmenubox a {
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 3.5rem 1.2rem 3.5rem 1.2rem;
    vertical-align: middle;
}

@media screen and (max-width: 750px) {
    .quickmenubox {
        width: 100%;
        height: 3rem;
    }

    .quickmenu {
        margin-bottom: 9rem;
    }

    .quickmenubox a {
        padding: 1rem 4rem 1rem 4rem;
        font-size: 14px;
    }
}

/*Robot Hånd */

.hero2 img {
    width: 100%;
    height: 40vw;
}

.hero2 {
    position: relative;
}

.h2picture, .p-picture {
    position: absolute;
    text-align: right;
    color: white;
}

.h2picture {
    right: 5.5vw;
    top: 10vw;
    font-size: 2.5vw;
}

.p-picture {
    right: 5.5vw;
    top: 29vw;
    font-size: 2vw;
}

.hero2button {
    position: absolute;
    right: 5.5vw;
    top: 33vw;
    background-color: var(--yellow);
    color: var(--black);
    padding: 1vw 3vw 1vw 3vw;
    box-shadow: 0 32px 64px rgba(0,0,0,0.07);
}

/*Explore*/

.h2headline {
    text-align: center;
    text-transform: uppercase;
    font-size: 3vw;
}


.exploresection {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.explorediv {
    height: 500px;
    width: 350px;
    display: flex;
    flex-direction: column;
}

.exploreimg {
    height: 350px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.exploreimg > img {
    width: 100%;
    height: 100%;
}

.pexplore {
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    margin-top: 0.7rem;
    height: 108px;
    font-size: 0.9rem;
    padding: 0.8rem;
    text-align: justify;
}

.explorebutton {
    width: 100%;
    text-align: center;
    margin: 1rem 0 3rem 0;
}

.explorebutton a {
    background-color: var(--yellow);
    color: black;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}


/*julereklame*/

.christmasnews {
    width: 100%;
    height: 40vw;
    background-image: url(images.img/granbar_optimized.jpg);
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: white;
    margin-bottom: 4rem;
    padding: 1rem;
}

.christmasheadline > p {
    font-size: 4vw;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: rgb(177, 173, 173) 0px 2px 4px;

}

.christmasheadline > h2 {
    font-size: 6vw;
    margin: 1vw 0 1vw 0;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    text-shadow: rgb(177, 173, 173) -1px 1px 4px;
}

.christmasinfo {
    text-align: right;
    text-transform: uppercase;
}

.christmasinfo p {
    padding-bottom: 3rem;
    font-size: 1.5vw;
    letter-spacing: 2px;

}

.pheadline {
    font-weight: bold;
}

p.pheadline {
    font-size: 1.8vw;
}


.christmasbutton {
    background-color: rgba(245, 245, 245, 0.096);
    border: solid white 2px;
    color: white;
    padding: 1vw 3vw 1vw 3vw;
}

@media screen and (max-width: 700px) {

    .christmasinfo > p {
        display: none;
    }

    .christmasbutton {
        padding: 2vw 4vw 2vw 4vw;
        font-size: 2vw;
    }
    
}

/*Get involved*/

.getinvolvedsection {
    width: 90%;
    display: flex;
    gap: 0.8rem;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    height: 550px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5rem;
}

.getinvolveddiv {
    flex: 33%;
    padding: 1rem;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    text-align: center;
    width: 30%;
    height: fit-content;
}

.getinvolvedh3 {
    text-transform: uppercase;
    background-color: var(--purple);
    color: white;
}

.getinvolvedbutton {
    background-color: var(--yellow);
    color: black;
}


/*__----------------------------------------------------plan your visit----------------------------------------------------------*/

.mainplanyourvisit {
    margin: 3rem 3rem 0 3rem;
}

@media screen and (max-width: 500px) {
    .mainplanyourvisit {
        margin: 2rem 0.5rem 0 0.5rem;
    }
}


.h3planyourvisit {
    text-transform: uppercase;
    font-size: 1.2rem;
}

.locationflex {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    text-align: end;
    margin-bottom: 3rem;
}

mark {
    text-decoration: underline;
    background: none;
}

@media screen and (max-width: 981px) {
    .locationflex {
        justify-content: space-evenly;
        text-align: center;
    }
}


.divopeninghoursflex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30rem;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    padding: 2rem;
    height: 208px;
}

.righttimes { 
    text-align: right;
}

.totalflex {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
}

#h3right {
    text-align: right;
}

@media screen and (max-width: 1070px) {
    .totalflex {
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 550px) {
    .divopeninghoursflex {
        width: 19.5rem;
        padding: 1rem;
        height: fit-content;
    }
}


.h2right {
    text-align: right;
}

.accessabilityflex {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.accessabilityflex > div {
    flex: 1;
    padding: 1rem;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

@media screen and (max-width: 760px) {
    .accessabilityflex {
        flex-direction: column;
    }

    .h2right, .h2left {
        text-align: center;
        padding-top: 1rem;
    }
}

.accessabilityextra {
    text-align: center;
    margin: 2rem 0 3rem 0;
    width: 100%;
}


.imagetextright, .imagetextleft {
    max-width: 400px;
}

.imagetextflex {
    display: flex;
    padding: 2rem;
    gap: 1.5rem;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}


.restauranth3, .pheadlinerestaurant {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    letter-spacing: 2px;
}

.restauranth3, .shoph3 {
    font-size: 2rem;
    margin: 0;
}

.breadprestaurant {
    text-align: justify;
}

@media screen and (max-width: 780px) {
    .breadprestaurant {
       font-size: 0.8rem;
    }
    .imagetextright, .imagetextleft {
        flex: 50%;
    }
    .imagetextflex {
        align-items: center;
    }
}

@media screen and (max-width: 700px) {
    .imagetextflex {
        flex-direction: column;
    }
    .imagetextright > img, .imagetextleft > img {
        max-height: 200px;
        max-width: 150px;
    }
    
}

.shoph3 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin-block-end: 2rem;
}

.bookingimg {
    max-width: 400px;
    min-width: 320px;
    max-height: 250px;
    min-height: 250px;
    object-fit: none;
}

.bdayp {
    padding: 1rem 0.5rem 1rem 0.5rem;
    text-align: justify;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    font-size: 0.9rem;
    min-height: 338.53px;
    min-width: 320px;
}

.bookingflex {
    display: flex;
    flex-direction: column;
    max-width: 320px;
}

.bookingheadline {
    width: 100%;
    height: 3rem;
    background-color: var(--purple);
    color: white;
    text-transform: uppercase;
    text-align: center;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.bookingbutton {
    background-color: var(--yellow);
    color: black;
    display: inline-block;
    margin-top: 1rem;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

div.bookingbuttondiv {
    text-align: center;
}

.totalbookingflex {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .bookingbutton {
        padding: 0.8rem 2.8rem 0.8rem 2.8rem;
        font-size: 0.8rem;
    }
}

/*-------------------------------------------------------eplore------------------------------------------------------------*/

.exploresection {
    width: 100%;
    height: 48vw;
    background-size: cover;
    padding: 3rem 0rem 3rem 3rem;
}

.spacesection {
    background-image: url(images.img/cosmo_optimized.jpg);
    display: flex;
    flex-direction: row;
    align-items: center;
}

#astronaut {
    max-width: 41vw;
    flex: 50%;
}

.space {
    flex: 40%;
    width: 100%;
    height: fit-content;
    padding: 3rem 6rem 3rem 6rem;
    text-align: center;
    color: white;
    font-size: 1rem;
}

.pspace {
    line-height: 20px;
    margin-bottom: 3rem;
    text-align: center;
    background-color: whitesmoke;
    color: black;
    padding: 1rem;
}

.h2space {
    margin: 0 0 3rem 0;
    font-size: 8vw;
    letter-spacing: 15px;
    text-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.spacebutton {
   background-color: white;
   color: black;
}

@media screen and (max-width: 1100px) {
    .space {
        font-size: 0.7rem;
        line-height: 10px;
    }

    p.pspace {
       margin-bottom: 1.5rem;
    }

    .space {
        padding: 1rem 1.5rem 1rem 1.5rem;
    }

    .exploresection {
        padding: 1rem 0rem 3rem 3rem;
    }
}

@media screen and (max-width: 700px) {
    #astronaut {
        display: none;
    }
    .exploresection {
        padding: 2rem 1rem 2rem 1rem;
    }
    .spacesection {
        display: inherit;
    }
    .h2space {
        margin-bottom: 1.5rem;
    }
    .space {
        padding: 0;
        line-height: 6px;
        margin-top: 0.5rem;
    }
    .spacebutton {
        padding: 0.5rem 3rem 0.5rem 3rem;
        font-size: 0.6rem;
    }
}

@media screen and (max-width: 600px) {
    .exploresection {
        height: 22rem;
    }
}


@media screen and (max-width: 600px) {

    .exploresection {     
    background-size: cover;
    background-position: center center;

    }

    .medicinsection {
        background-image: url(images.img/medicin_mobil.jpg);
    }

    .evolutionsection {
        background-image: url(images.img/monkey_mobil.jpg);
    }

    .ecologysection {
        background-image: url(images.img/ecology_mobil.jpg);
    }
}



.allsections {
    width: 100%;
    height: 48vw;
    background-size: cover;
    background-position: center center;
}



.medicinsection {
    background-image: url(images.img/pawel-czerwinski-2Y8ol_OBS1I-unsplash-kopi_2_30.jpg);
    padding: 3rem 9rem 3rem 3rem;
}

.exploreh2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 3vw;
    border-bottom: solid black 2px;
    padding: 0 0 1rem 0;
}

div.exploretextright {
    float: right;
    width: 40vw;
    font-size: 1.5vw;
    text-align: justify;
}


@media screen and (max-width: 800px) {
    .medicinsection {
        padding: 0.2rem 5.5rem 3rem 3rem;
    }
    div.exploretextright {
        font-size: 0.8rem;
        width: 300px;
    }

    .exploreh2 {
        font-size: 1.5rem;
    }
    
}

@media screen and (max-width: 500px) {
    .medicinsection {
        padding: 0rem 2.5rem 1rem 3rem;
    }
}

@media screen and (max-width: 600px) {
    .allsections {
        height: 22rem;
    }
}




.evolutionsection {
    background-image: url(images.img/benjamin-suter-C2MSIMEgfGI-unsplash_2_48.jpg);
}

div.exploretextleft {
    width: 40vw;
    font-size: 1.5vw;

    padding: 4rem 0 0 6rem;
    color: white;
}

.whiteexploreh2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 3vw;
    border-bottom: solid white 2px;
    color: white;
    margin: 0;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

@media screen and (max-width: 800px) {
    div.exploretextleft {
        padding: 3rem 0rem 0rem 3.5rem;
    }
}

@media screen and (max-width: 500px) {
    div.exploretextleft {
        width: 45vw;
        font-size: 0.8rem;
        line-height: 12px;
        padding: 2.5rem 0rem 0rem 1.5rem;
    }
    .whiteexploreh2 {
        font-size: 1.5rem;
    }
}

@media screen and (max-width:330px) {
    div.exploretextleft {
        width: 55vw;
    }
}




.robotsection {
    background-image: url(images.img/robot-gae3e73577_1280.jpg);
    padding: 4rem 0 0 4rem;
}

.roboth2 {
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    text-align: center;
}

.robotheadline {
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    padding: 1rem;
    margin-bottom: 2rem;
}

.robotdiv {
    width: 14rem;
    text-align: justify;
    color: white;
}

@media screen and (max-width:800px) {
    .robotsection {
        padding: 2rem 0 0 2rem;
        font-size: 0.8rem;
    }
    .roboth2 {
        font-size: 1.2rem;
    }
}


@media screen and (max-width:500px) {
    .robotsection {
        padding: 1rem 0 0 1rem;
        font-size: 0.8rem;
    }
    .robotdiv {
        width: 8rem;
        text-align: left;
    }
    .robotheadline {
    margin-bottom: 0.3rem;
    padding: 0.5rem;
    }
}


.ecologysection {
    background-image: url(images.img/jan-kopriva-nex3P5iBnPg-unsplash_5_29.jpg);
    padding: 2rem 2rem 2rem 2rem;
}

.ecologyheadline {
    color: white;
    text-transform: uppercase;
    margin-bottom: 24rem;
    margin-top: 1rem;
    font-size: 3.5rem;
    letter-spacing: 5px;
    text-align: center;
    text-shadow: var(--black) solid 12px 12px;
}

.ecologyheadline > h2 {
    margin: 0;
}


.flexecology {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 44rem;
    align-items: center;
    color: white;
}

#ecologyright {
    text-align: right;
}

div.ecologyflex {
    height: 200px;
    color: white;
}

@media screen and (max-width:1100px) {
    .ecologyheadline {
        margin-bottom: 9.5rem;
    }
    .flexecology {
        gap: 36rem;
    }

}

@media screen and (max-width:800px) {
    .ecologyheadline {
        margin-bottom: 3rem;
        font-size: 2.5rem;
    }
    .flexecology {
        gap: 28rem;
        font-size: 0.8rem;
    }

    .ecologysection {
        padding-top: 0.5rem;
    }

}

@media screen and (max-width:500px) {
    .flexecology {
        gap: 0;
    }
    .ecologyheadline {
        font-size: 1rem;
    }
}




.gridexplore {
    display: grid;
    grid-template-areas:
    'one two'
    'three two'
    'three four';
}

.img1 {
    grid-area: one;
}

.img2 {
    grid-area: two;
}

.img3 {
    grid-area: three;
}

.img4 {
    grid-area: four;
}

.divforposition {
    position: relative;
}

.abovegrid {
    position: absolute;
    width: 30vw;
    background-color: white;
    top: 26.5vw;
    left: 35vw;
    padding: 2vw;
    text-align: center;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    font-size: 1.2vw;
}

@media screen and (max-width:500px) {
    .abovegrid {
        top: 22.5vw;
        left: 32.5vw;
        font-size: 1.8vw;
        width: 35vw;
        padding: 3vw;
    }
}


/*--------------------------------------------------explore------------------------------------------------------------------*/

.navwithh1 {
    height: 10vw;
    position: relative;
    margin-bottom: 1rem;
}

.h1headline {
    position: absolute;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 5vw;
    top: 5.5vw;
    right: 19.5vw;
    margin: 0;
}

@media screen and (max-width:1100px) {
    .h1headline {
        right: 26.5vw;
        top: 5.4vw;
    }
}

@media screen and (max-width:800px) {
    .h1headline {
        right: 36vw;
        top: 5.2vw;
    }
}

@media screen and (max-width:748px) {
    .h1headline {
        position: initial;
    }
}

.currentsite {
    border-bottom: 3px solid black;
}


.undernav {
    height: 3rem;
    background-color: var(--purple);
    color: white;
    text-align: center;
    padding: 1px;
    margin-bottom: 3rem;
}

.undernavul > li {
    display: inline;
    margin-right: 3rem;
    text-transform: uppercase;
}



.exploremain {
    margin: 0 4vw 0 4vw;
}

.clubsection {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    margin-bottom: 2rem;
    font-size: 0.8rem;
    align-items: center;
    justify-content: space-evenly;
}

.clubdivright, .clubdivleft {
    flex: 40%;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.clubdivtext {
    padding: 3rem;
    width: 100%;
    height: 50vw;
}

.clubdivimageholiday {
    position: relative;
    background-image: url(images.img/neonbrand-IF8B82QBCkM-unsplash_50.jpg);
    background-size: cover;
    width: 100%;
    height: 50vw;
}

.clubdivimageyoungstar {
    position: relative;
    background-image: url(images.img/nathan-dumlao-P5MXtYfgmmw-unsplash_27.jpg);
    background-size: cover;
    width: 100%;
    height: 50vw;
}

.clubdivimageholiday > h2, .clubdivimageyoungstar > h2 {
    position: absolute;
    font-size: 5vw;
    text-transform: uppercase;
    margin: 0;
    color: white;
}

.club {
    bottom: 3px;
    right: 3px;
}

.youngstar {
    left: 12.5%;
    top: 1rem;
}


@media screen and (min-width:1200px) {
    .clubdivtext {
        font-size: 1rem;
    }
}


@media screen and (max-width:1000px) {
    .clubdivtext {
        flex: 50%;
        font-size: 0.68rem;
        padding: 1rem;
    }
    .clubsection {
        gap: 1rem;
    }
}

@media screen and (max-width:600px) {
    .clubdivtext {
        flex: 40%;
        font-size: 0.68rem;
        padding: 1rem;
    }

    .clubdivimageyoungstar > h2, .clubdivimageholiday > h2{
       font-size: 3rem;
    }

    .clubsection {
        gap: 1rem;
        flex-direction: column;
    }
}


@media screen and (min-width:600px) {

    .clubdivimageyoungstar > img, .clubdivimageholiday > img {
        display: none;
    }
}